@font-face{
    font-family:"Jubilat";
    src:url("../fonts/Jubilat/JubilMed.otf");
	font-weight:600;
}

/* Reset Styles */
*, *::after, *::before { margin: 0; padding: 0; border: 0; line-height: inherit; color: inherit; text-transform: inherit; font-weight: inherit; font-style: inherit; font-size: inherit; font-family: inherit; background-color: transparent; outline: none; 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul { list-style: none; list-style-position: inside; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: inherit;}
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
blockquote, q { quotes: "" ""; }
button { cursor: pointer; }
button:focus, button:active { outline:0; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner { padding:0; border: 0; margin: 0; line-height: normal; }
header, footer, nav, article, section, main { display: block; }
:-ms-input-placeholder { color: #ccc; opacity: 1; }
::-webkit-input-placeholder { color: #ccc; opacity: 1; }
::-moz-placeholder { color: #ccc; opacity: 1; }
::-ms-clear { display: none; }
select.__placeholder { color: #ccc; opacity: 1; }
input, textarea, select { background: none; margin: 0; padding: 0; line-height: normal;
	-moz-user-select: text; 
	-webkit-user-select: text; 
	-ms-user-select: text;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::-ms-expand { display: none; }


/*-------------------------
	Core Elements/Tags
---------------------------*/
html { font-size: 16px; -webkit-text-size-adjust: 100%; font-family:"Arial", sans-serif; color:#464646;}
body { font-size: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; background-color: #e6e6e6;}
main {padding:80px 0 100px;}

@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) { 
	body { font-size: 1rem; }
}
@media only screen and (min-width : 992px) {}
@media only screen and (min-width : 1200px) {}


/*-------------------------
	Container
---------------------------*/

.container {width:80%; max-width: 1000px; margin:0 auto;}


/*-------------------------
	Headlines
---------------------------*/
.headline {margin-bottom: 10px; display:block;}
.headline--1 {font-size:2.5rem;}
.headline--2 {font-size:2rem; }
.headline--3 {font-size:1.313rem;}
.headline--4 {font-size:1rem;}


/*-------------------------
	Header
---------------------------*/

.header {height:98px; width:100%; background-color:#414959; color:#fff;}
.header .container { display: flex; flex-flow: row nowrap; justify-content: space-between;}
.header__left {width:calc(50% - 128px); display:flex; flex-direction:column; justify-content: center; height:98px;}
.header__left-button {transition:all 0.5s; font-size:0.875rem; text-decoration: none; font-weight: bold; text-transform: uppercase; height:43px; background-color: #d8171e; width: 133px; display: flex; align-items: center; justify-content: center;}
.header__left-button:hover {opacity: .75;}
.header__logo {height: 115px; width: 256px; background-color: #e81b23;}
.header__right {width:calc(50% - 128px); font-weight:bold; display: inline-flex; justify-content: flex-end; flex-flow: row nowrap; font-size: 0.750rem; text-transform: uppercase;}
.header__right li {display: inline-block;}
.header__right a {transition:all 0.5s; text-decoration: none; line-height: 98px; padding: 10px;}
.header__right a:hover {color:#688fa4;}
.header__right-menu {margin-left: 20px; position: relative; margin-top: 6px;}
.header__right-menu:before {content:"\e5d2"; font-family: "Material Icons"; font-size: 42px; position: absolute; top:-12px; left: 6px;}
.header__right-search {position: relative;}
.header__right-search:before {content:"\E8B6"; font-family: "Material Icons"; position: absolute; left: -8px;}


/*-------------------------
	Heading
---------------------------*/

.heading {text-align: center; padding-bottom: 40px;}
.heading__title {font-family:"Jubilat", serif; font-weight: 600;}


/*-------------------------
	Social Share
---------------------------*/

.social-share {margin-top:10px; font-size:0.875rem;}
.social-share__button {transition:all 0.5s; padding:10px; position:relative; width:160px; height: 46px; background-color: #3a589a; display: inline-flex; margin-right: -5px; color: #fff; text-decoration:none; align-items: center;}
.social-share__button:before {content:""; background: url('../img/facebook.png'); background-position:center center; background-repeat: no-repeat; width: 22px; height: 22px; display: block; }
.social-share__button:hover {opacity: .75;}
.social-share__button--twitter {background-color: #20a8e4;}
.social-share__button--twitter:before {background: url('../img/twitter.png'); background-position:center center; background-repeat: no-repeat;}
.social-share div {margin-bottom: 15px; text-transform: uppercase;}


/*-------------------------
	Section
---------------------------*/
.section {background-color: #fbfbfb; padding:48px 48px 100px; max-width: 908px; margin:0 auto;}


/*-------------------------
	Form
---------------------------*/
.form {margin-top: 50px;}
.form .headline {margin-bottom: 30px;}
.form-element {display: block; margin: 0 0 40px 0;}
.form-element__label {display: inline-block; margin-bottom: 15px;}

.form-element input[type="checkbox"], .form-element input[type="radio"] { display: none; }

.form-element input[type="checkbox"] + label {position:relative; transition:all 0.5s; border:3px solid #ebebeb; background-color: #fff; width: 100%;}
.form-element input[type="checkbox"] + label div {padding:10px 15px; margin:0;}
.form-element input[type="checkbox"] + label .form-element__label-image {border-bottom:3px solid #ebebeb; width: 100%; padding-top: 75%; background-size: cover; background-repeat: no-repeat; background-position: center; margin-left: 0;}
.form-element input[type="checkbox"] + label span:before {vertical-align:middle; margin-top:-3px; content:""; width:18px; height:18px; background-color: #fff; border:3px solid #c4c4c4; display: inline-flex; justify-content: center; align-items: center; margin-right: 10px;}
.form-element input[type="checkbox"]:checked + label span:before {font-size:14px; color:#bbb; content:"\E5ca"; font-family: "Material Icons"; width:18px; height:18px; display: inline-flex; justify-content: center; align-items: center;}
.form-element input[type="checkbox"]:checked + label,  
.form-element input[type="checkbox"] + label:hover {background-color: #c4c4c4;}

.form-element input[type="radio"] + label {vertical-align:top; cursor:pointer; text-align:center; transition:all 0.5s; width:100%; position: relative;  background-color: #fff; padding: 25px; border:1px solid #e6e6e6; border-top: 10px solid #d8171e;}
.form-element input[type="radio"]:checked + label {border-color: #414959; background-color: #688fa4; color:#fff;}
.form-element--horizontal input[type="radio"] + label {margin-left: 25px; text-align:left; width:calc(100% - 30px); border:none; border-left: 30px solid #d8171e; text-transform: uppercase; margin-right: 0;}

.form-element__submit {margin:0 auto; color:#fff; font-size: 1rem; text-decoration: none; font-weight: bold; text-transform: uppercase; height: 46px; background-color: #d8171e; padding:0 30px; display: flex; align-items: center; justify-content: center;}

@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) {
	.form-element input[type="checkbox"] + label,
	.form-element input[type="radio"] + label {width:calc(50% - 16px); margin-right: 12px;}
	.form-element--horizontal input[type="radio"] + label {width:calc(100% - 30px);}
}
@media only screen and (min-width : 992px) {
	.form-element input[type="checkbox"] + label,
	.form-element input[type="radio"] + label {width:calc(25% - 16px); margin-right: 12px;}
	.form-element--horizontal input[type="radio"] + label {width:calc(100% - 30px);}
}
@media only screen and (min-width : 1200px) {}


/*-------------------------
	Results
---------------------------*/
.results-container {display:none;}
.results {width:100%; border:3px solid #ebebeb; margin-bottom:40px; background-color: #fff; display: flex;}
.results__text {padding:40px; flex:1;}
.results__text p {font-size: 0.938rem; line-height: 27px;}
.results__image {width:50%; padding-top: 50%; background-repeat: no-repeat; background-size: cover; background-position: center center;}
.results__heading {font-weight:700; text-transform: uppercase; margin-top: 4px; margin-bottom: 20px; display: inline-block;}

